$primaryTxtColor: #121212;
$primaryColor: #2b8ee2;
$primaryBlue: #0068ff;
$successGreen: #2ed775;
$warningYellow: #ffd035;
$warningRed: #ff5353;
$neutralGray: #596d86;
$inactive: #b3b3b3;
$lightGray: #e7e7e7;
$baseWhite: #ffffff;
$borderColor: #cccccc;
$primaryDark: #121212;
$secDark: #303030;

$darkFontColor: #000000;
$dmBg: #1d1d1d;
$dmLightFontColor: rgba(255, 255, 255, 0.6);
$dmDarkFontColor: rgba(255, 255, 255, 0.87);
